.input {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: aliceblue;
}

button {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid green;
  background-color: aliceblue;
  color: green;
}

.input:hover {
  cursor: pointer;
  background-color: white;
}

button:hover{
  background-color: green;
  color: aliceblue;
}